.main{
    text-align: center;
}
.heading{
    color: blue;
    background-color: chartreuse;
    text-align: center;
}
.para{
    color: cornsilk;
    background-color:darkolivegreen;
}
.validate{
    background-color: blue;
}